<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stupid Simple Bus Tracker</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://unpkg.com/htmx.org" defer></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
</head>
<body class="container">
    <h1 class="text-center mb-4">Stupid Simple KMB Bus Tracker</h1>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="route"><b>Select Route:</b></label>
                <select class="form-control" id="route" name="route" hx-get="/update-options" hx-target="#stop" hx-trigger="change" aria-label="Select Route">
                    <option value="">--Select--</option>
                    {% for route, bound, destination in routes %}
                        <option value="{{route}}, {{bound}}">{{ route }} - {{destination}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="stop"><b>Select Stop:</b></label>
                <select class="form-control" id="stop" name="stop" aria-label="Select Stop">
                    <option value="">--Select--</option>
                    <!--Dynamic update-->
                </select>
            </div>
            <button class="btn btn-primary"
                hx-get="/update" 
                hx-target="this"
                hx-trigger="click"
                hx-include="[name='route'],[name='stop']"
                hx-swap="none"
                aria-label="Submit">
                Submit
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div id="bus-eta" class="mt-4"><!-- Table will be updated here --></div>
            <div id="map"><!-- Map will be updated here --></div>
        </div>
    </div>

    <script>
        document.body.addEventListener('htmx:afterRequest', function(event) {
            if (event.detail.elt.getAttribute('aria-label') === 'Submit') {
                var response = JSON.parse(event.detail.xhr.responseText);
                document.getElementById('map').innerHTML = response.map;
                document.getElementById('bus-eta').innerHTML = response.table;
            }
        });
    </script>
</body>
</html>
