<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stupid Simple Bus Tracker</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/styles.css') }}>
    <script src="https://unpkg.com/htmx.org"></script>
    <script src={{ url_for('static', filename='js/app.js') }} defer></script>
</head>
<body>
    <h1>Stupid Simple KMB Bus Tracker</h1>
    <label for="route">Select Route:</label>
    <select id="route" name="route" hx-get="/update-options" hx-target="#stop" hx-trigger="change">
        <option value="">--Select--</option>
        {% for route, bound, destination in routes %}
            <option value="{{route}}, {{bound}}">{{ route }} - {{destination}}</option>
        {% endfor %}
    </select>
    <br/>

    <label for="stop">Select Stop:</label>
    <select id="stop" name="stop">
        <option value="">--Select--</option>
        <!--Dynamic update-->
    </select>
    <br/>

    <button
        hx-get="/update" 
        hx-target="#display"
        hx-trigger="click"
        hx-include="[name='route'],[name='stop']"
    >
        Submit
    </button>

    <div id="display">
    </div>
</div>
</body>
</html>