<table class="table table-striped mt-4">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ETA Minutes</th>
        </tr>
    </thead>
    <tbody>
        {% if bus_eta %}
            {% for eta in bus_eta %}
            <tr>
                <td> 
                    {% if eta == 'Final bus departed' %} 
                        <span class="text-danger">{{ eta }}</span>
                    {% else %}
                        <span class="text-success">{{ eta if eta and eta > 0 else '-' }}</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="1">No ETA data available</td>
            </tr>
        {% endif %}
    </tbody>
</table>
